
.box{ 
    color:black;
    width: 80%;
    height: 500px;
    background-color: #00ffd5;
    margin: 100px;
    padding: 10px;
    border: 10px double yellowgreen;
    border-radius: 40px;
 

 }
    .box button{
        width:30px;
    } 
 .box h1{
    text-align:center;
    font-family:impact;
    font-weight: 400px;
    color: white;}

    .box h2{
        text-align:left;
        font-family:Tahoma;
        font-weight: 200px;
        color: rgb(123, 132, 207);
    }

    .box h2 small{
        text-align:center;
        font-family:impact;
        font-weight: 100px;
        color: rgb(83, 80, 80);}

        .box h2 img{
            width: 100px;
            height: 100px;
            border: 10px solid red;
            border-radius: 50px;
        }

        .box .Tree{
            width: 200px;
            height: 100px;
            background-color: royalblue;
            border-radius: 40px;
            border: 20px solid rgb(83, 80, 80);
            margin: 50px auto;
           display: inline-block;
            
        } 
        
        
        
        


      
     
        
        
